.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

div form :last-child {
  justify-content: center;
}

.styles {
  margin-top: 20px;
  background-color: rgb(203, 255, 160);
  color: black;
  display: flex;
  flex-direction: column;
  /* padding-top: 30px; */
  padding-bottom: 30px;
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  /* box-shadow: 0 3px 5px 2px rgba(93, 231, 81, 0.849) !important;
    background-color: aqua !important */
}

.link {
  color: rgb(35, 255, 6);
  text-decoration: none;
}

.logIn {
  color: rgb(0, 0, 0);
}

.signupButton {
  margin-bottom: 10px !important;
}
